.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
   background: rgb(6,79,79);

    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: pink;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .menuClose{
      position: absolute;
      display: none;
      top: 10px;
      right: 10px;
      color: #064f4f;
      
  }

  /*home page responsive */
  /*responsive for 1619px*/
  @media screen and (max-width: 1619px){
    .carde,.carde-services {
      width: 350px;
      height: 420px;
  }
  .st0,.st0-services{
    width: 350px;
  }
  .one,.one-services {
    top: 230px;}
.two, .two-services {
    top: 300px;
    width: 350px;
    text-align: center;
}

  }
  /*responsive for 1319px*/
  @media screen and (max-width: 1319px){
    .card1 {
      width: 460px;
    }

    .growYour {
      flex-wrap: wrap-reverse;
    }
   

   
  }

  /*responsive for 1263px*/
  @media screen and (max-width: 1263px){
    #testimonies div{
      width: 60%;
      height: 350px;
    }
    .carde,.carde-services  {
      width: 300px;
      height: 420px;
  }
  #services-banner h3 {
    font-size: 80px;
  }
  #books-banner h3{
    font-size: 80px;
  }
  .st0,.st0-services{
    width: 300px;
  }
  .one,.one-services {
    top: 210px;}
    .two {
  width:300px ;
    top: 280px;
}
.two-services{
  width:300px ;
  top: 280px;
}
.card1 {
  width: 450px;
  height: 420px;
}
  }
  /*screen max-width 1024*/
  @media screen and (max-width: 1024px){
      .menuClose{
          display: block;
      }
      #main-header {
          display: none;
      }
      #logo2{
        opacity: 1;
        margin-top: 15px;
        margin-left: 35px;
        position: relative;
        height: 70px;
      }
      #second-two-block{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-bottom: 30px;
      }
      .imgB img{
        width: 350px;
        height: 350px;
      }
      .imB, .two-blocks-info {
        width: 100%;
        height: auto;
        padding-left: 60px;
        padding-right: 60px;
      }
      
      #second-banner{
        height: 400px;
        align-items: center;
        justify-content: center;
        top: 5px;
        background-attachment: scroll;
      }
      #about-banner{
        height: 400px;
        background-attachment: scroll;
      }
      
      #second-banner h3{
        font-size: 80px;
      }
      #services-banner{
        height: 400px;
        background-attachment: scroll;
      }
      #books-banner {
        height: 400px;
        background-attachment: scroll;
      }
      #contact-banner {
        background-attachment: scroll;
        margin-top: 0;
        height: 600px;
      }
    .media-container {
      flex-wrap: wrap;
    }
  
    #fourth-banner {
     height: 400px;
    }
    #logoF {
      width: 200px;
      height: auto;
    }
    .threePigs {
      flex-wrap: wrap;
    }
    .pig1 {
      width: 50%;
    }
    .pig2 {
      width:100%;
    }
    #logo{
      width: 340px;
      height: auto;
    padding-bottom: 40px ;
     }
    
     .coments {
      height: 400px;
    }
    .containerA{
      width: 100%;
      height: 100%;
    }
    .card {
      width: 320px;
      height: 360px;
    }
     .threeDots{
      margin-top: 0px;
    }
    .left-float, .right-float {
      width: 100% ;
    }
  }
    @media screen and (max-width: 1020px){
      #app {
        height: auto;
        padding-top: 50px;
      }
      #second-two-block {
        height: auto;
        flex-wrap: wrap-reverse;
      }
      
      #second-two-block1{
        width: 100%;
        flex-wrap: wrap;
      }
      .two-blocks-about,.imgB2{
        width: 100%;
        height: auto;
      }
      .two-blocks-about {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .twoPigs {
        flex-wrap: wrap;
        justify-content: center;
      }
      .leftPig, .rightPig {
        width: 100%;
        font-size: 20px;
        margin: 0 auto;
      }
      .rightPig{
        height: auto;
      }
      .leftPig img{
        width: 100%;
        padding: 30px;
      }
      .leftPig {
        padding: 0;
      }
    }
    /*screen max-width 940*/
    @media screen and (max-width: 940px) {
      
      #second-two-block {
        height: auto;
        flex-wrap: wrap-reverse;
      }
      .two-blocks-info, .imgB{
        width: 100%;
        height: auto;
        
      }
      .imgB img{
        width: 300px;
        height: 300px;
        padding-bottom: 15px;
      }
      .two-blocks-info p{
        padding: 20px;
      }
      #about-banner h3{
        font-size: 80px;
      }
    .card1 {
      width: 310px;
      height: 500px;
    }
    #testimonies div{
      width: 80%;
      height: 420px;
    }
    .arrowDown{
      width: 20px;
    }
    }
    /*screen max-width 905*/
    @media screen and (max-width: 905px){
      #top-head  {
        flex-wrap: wrap;
      }
      #top-head div {
        display: flex;
        width: 50%;
        justify-content: center;
      }
      #second-banner h3{
        font-size: 60px;
      }
      #slider .slick-track {
        height: 360px;
        padding-top: 10px;
        padding-bottom: 10px; 
    }
    .video-container{
      height: auto;
      flex-wrap: wrap;
    }
   
    #second-banner h4 {
      font-size: 2rem;
    }
    #about-banner h3 {
      font-size: 60px;
    }
    #services-banner h2{
      font-size: 60px;
    }
    #books-banner h3 {
      font-size: 60px;
    }
    #contact-banner h3 {
      font-size: 60px;
    }
    #contact-banner {
      margin-top: 0;
      background-size: cover;
    }
    #card {
      height: auto;
      padding-bottom: 20px;
    }
    .card1{
      margin: 5px;
    }
    .blocks-top, .stripe{
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .blocks-top{
      height: 120px;
    }
    .blocks-top img {
      z-index: 5;
      width: 320px;
      height: auto;
    }
    .realLeft, .realRight {
      width: 100%;
    }
    #three-authors{
      margin-top: 15px;
    }
    .realLeft, .realRight{
      padding: 10px;
      font-size: 15px;
    }
  }
    /*screen max-width 830*/
    @media screen and (max-width:830px){
      #two-blocks {
        flex-direction: column-reverse;
        height: auto;
      } 
      #services-banner h2{
        font-size: 40px;
        line-height: inherit;
      }
      #services-banner h1{
        font-size: 55px;
      }
      
    }
     /*screen max-width 768*/
  @media screen and (max-width: 768px) {
    #second-banner  {
      background-attachment: scroll;
     
    }
    #about-banner  {
      background-attachment: scroll;
     
    }
    .video-container {
      
    }
    #services-banner {
      background-attachment: scroll;
      
    }
    #books-banner  {
      background-attachment: scroll;
      
    }
    #contact-banner  {
      background-attachment: scroll;
    }
    #testimonies div{
      width: 100%;
      height: auto;
    }
    .quotes {
      top: -55px;
    width: 100px;
    height: 100px;
    }
    .certifications {
      padding: 10px;
      margin-left: 10px;
      font-size: 35px;
      text-align: center;
  } .certifications span {
    font-size: 50px;
  }
  .blocks-left {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    filter:drop-shadow(2px 2px 4px rgb(180, 180, 180));
  }
  .twoPigs{
    justify-content: center;
  }
  .leftPig{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  
}
.leftPig img {
  min-width: 320px;
  width: 100%;
}
  }
   /*screen max-width 696*/
   @media screen and (max-width: 695px){
    #services-banner h2{
      font-size: 35px;
      line-height: inherit;
    }
    #services-banner h1{
      font-size: 45px;
    }
   .cards{
     width: 100%;
   }
    .card{
       width: 320px;
       height: 350px;
     }
     .coments {
       height: 400px;
     }
     .containerA{
       width: 100%;
       height: 100%;
     }
     .threeDots{
       margin-top: 40px;
     }
     #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
      transform: translatex(-35%) scale(.8);
    }
    
    #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
      transform: translatex(35%) scale(.8);
    }
    
    #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
      transform: translatex(0) scale(1);
    }
      #item-1 img {
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
      }
     #item-2:checked ~ .player #test {
      transform: translateY(0);
    }
    
    #item-2:checked ~ .player #test  {
      transform: translateY(-20px);
    }
    
    #item-3:checked ~ .player #test  {
      transform: translateY(-30px);
    }
    .blanky, .blanky1 {
      width: 450px;
      box-sizing: border-box;
      align-items: center;
      margin: 0 auto;
    }
     .growSmallLeft{
       flex-direction: column;
     }
     .growSmallRight {
       flex-direction: column;
     }
     .reversed {
       flex-direction: column-reverse;
     }
     .growOne, .growTwo, .growColor {
       width:450px;
       height: 450px;
       margin: 0 auto;
     }
     .growImgae {
       width: 320px;
     }
     .growOne{
       justify-content: center;
       align-items: center;
       text-align: left;
     }
     .swiper-container {
      width: 320px;
      height: 300px;
    
      padding-bottom: 160px;
    }
    .swiper-slide img {
      display: block;
      width: 100px;
      object-fit: cover;
    }
    .stripe, .blocks-top{
      justify-content: center;
      align-items: center;
      padding: 20px;
      
    }
    .stripe{
      height: 220px;
    }
    .blocks-top{
      height: 120px;
    }
   }

     /*screen max-width 618*/
     @media screen and (max-width: 618px){
      #second-banner h2 {
        font-size: 40px;
      }
      #second-banner h1{
        font-size: 50px;
      }
      #about-banner h3 {
        font-size: 45px;
      }
      #services-banner h2{
        font-size: 35px;
      }
      #services-banner h1{
        font-size: 45px;
      }
      #books-banner h3 {
        font-size: 45px;
      }
      #contact-banner h2 {
        font-size: 45px;
      }
      #second-two-block h3 {
        font-size: 25px;
      }
      #third-block{
        height: auto;
        width: 410px;
      }
      .something {
        font-size: 18px;
      }
     #logo {
       width: 250px;
       height: 100%;
       padding-top:  10px;
       padding-bottom: 40px ;
     }
     #main-footer{
       flex-wrap: wrap;
     }
     #logoF {
      width: 280px;
      height: auto;
    }
    .phoneN {
      width: 320px;
    }
    .socialM{
      width: 320px;
      padding-left: 20px;
    }
    #testimonies div{
      width: 100%;
      height: 460px;
    }
    #second-banner  {
      height: 320px;
    }
    #about-banner {
      height: 320px;
    }
    #services-banner{
      height: 320px;
    }
    #books-banner  {
      height: 320px;
    }
    #books h2 {
      font-size: 32px;
      padding-bottom: 5px;
    }
    #app {
      padding-top: 30px;
    }
   .app{
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
   }
    .card1 {
      width: 315px;
      height: auto;
    }
    .partner img {
      width: 150px;
  }
  .pig1 {
    width: 100%;
  }
  #three-authors div{
    margin: 15px;
  }
     }

     /*screen max-width 520*/
     @media screen and (max-width: 520px){
      #services-banner h2{
        font-size: 25px;
        line-height: inherit;
      }
      #services-banner h1{
        font-size: 35px;
      }
      .imgB img{
        width: 250px;
        height: 250px;
        padding-bottom: 15px;
      }
      .two-blocks-info p{
        padding: 10px;
        font-size: 14px;
      }
      .card{
        width: 220px;
        height: 250px;
      }
      .coments {
        height: 300px;
      }
      #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
        transform: translatex(-35%) scale(.8);
      }
      
      #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
        transform: translatex(35%) scale(.8);
      }
      
      #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
        transform: translatex(0) scale(1);
      }
        #item-1 img {
          box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
        }
       #item-2:checked ~ .player #test {
        transform: translateY(0);
      }
      
      #item-2:checked ~ .player #test  {
        transform: translateY(-20px);
      }
      
      #item-3:checked ~ .player #test  {
        transform: translateY(-30px);
      }

      .growOne, .growTwo, .growColor {
        width:280px;
        height: 280px;
        margin: 0 auto;
      }
      .blanky, .blanky1 {
        width: 300px;
      }
      .growOne h1{
        font-size: 20px;
        padding: 10px;
      }
      .growOne h3 {
        font-size: 14px;
        padding: 10px;
      }
      .blanky h1{
        font-size: 30px;
      }
      .blanky h3{ 
        text-align: center;
        font-size: 18px;
      }
      .stripe, .blocks-top{
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      .stripe{
        height: 240px;
      }
  

     }


      /*screen max-width 455*/
  @media screen and (max-width: 455px){
    #logo {
      width: 210px;
      height: 100%;
      padding-top:  10px;
      padding-bottom: 40px ;
    }
    #second-banner  {
      height: 300px;
      
    }
    #about-banner {
      height: 300px;
      
    }
    
    #services-banner{
      height: 300px;
      
    }
    #books-banner  {
      height: 300px;
      
    }
    #second-banner h4 {
      font-size: 23px;
    }
    #second-banner h3 {
      font-size: 30px;
    }
    #flex-container h2 {
      font-size: 25px; 
    }
    #partners h2{
      font-size: 25px; 
    }
    #third-block{
      width: 280px;
    }
    .aboutImage1{
      width: 280px;
    }
    .certifications {
      padding: 10px;
      margin-left: 10px;
      font-size: 35px;
      text-align: center;
  }
  .certifications span {
    font-size: 50px;
  }
    .imgB img{
      width: 230px;
      height: 230px;
    }
    #about-banner h3 {
      font-size: 28px;
    }
    .video-container h2{
      margin-left: 0;
    }
    .left-float, .right-float {
      font-size: 18px;
      padding-left: 10px;
    padding-right: 10px;
    }
    .carde {
      filter:drop-shadow(2px 2px 4px rgb(40, 65, 40));
    }
    .book-shadow{
      width: 250px;
    }
    .two-blocks-about p {
      padding: 0 10px;
    
  }
    .video-container h2{
      font-size: 28px;
    }
    #services-banner h3{
      font-size: 28px;
    }
    #books-banner h3 {
      font-size: 28px;
    }
    #contact-banner h2 {
      font-size: 28px;
    }
    #books h2 {
      font-size: 28px;
      padding-bottom: 5px;
      margin-left: 10px;
      text-align: center;
    }
    #testimonies div {
      padding-left: 15px;
      padding-right: 15px;
      margin: 10px;
      height: auto;
      padding-top: 15px;
    }
    .quotes {
      top: -35px;
    }
    #fourth-banner {
      height: 320px;
     }
     .contact-buttons a {
       font-size: 18px;
       font-weight: 300;
       margin-left: 1px;
       margin-right: 5px;
     }
     #contact-banner h3 {
      font-size: 40px;
    }
  }
    /*screen max-width 450*/
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
   
  }
 
  