html {
    scroll-behavior: smooth;
  }
  
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Staatliches', cursive;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
}
#button {
    display: inline-block;
    background-color: #969c07;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 9px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #d4d857;
  }
  #button:active {
    background-color: #d4d857;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

#main-header {
    position: fixed;
    height: 13%;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
}
#logo{
    margin-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#logo2 {
    opacity: 0;
}
#main-menu {
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}
.active {
    background-color: rgba(167, 151, 151, 0);
    color: #969c07;
}
.main-menu-list {
    margin: 0 10px;
    margin-right: 35px;
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main-menu-list li {
    list-style: none;
    padding-left: 35px;
}  

.main-menu-list li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-menu-list li a:hover {
    color: #969c07;
}
.main-menu-list li a:active {
    color: #2efafa;
}
/*test menu*/


/**/
#second-two-block{
    position: relative;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: wrap row;
    align-items: center;
    justify-content:center;
    font-family: 'Montserrat', sans-serif;  
    background-color: #004F4F;
}
#two-blocks {
    display: flex;
    height: 550px;
}

.two-blocks-info {
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

.two-blocks-info h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    color:white;
    padding-bottom: 10px;
}

.two-blocks-info p {
    margin: 10px;
    padding: 0 10px;
    font-size: 20px;
    color:white;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;  
    text-align: left;
}

.two-blocks-info a {
    border: 2px solid white;
    line-height: 30px;
    width: 180px;
    text-decoration: none;
    color: #004F4F;
    font-weight: bold;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(125,34,255,0);
}

.two-blocks-info a:hover {
    background-color: #004F4F;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}

.imgB {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
}

.imgB img {
    box-sizing: border-box;
    
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 560px;
    align-items: center;
    object-fit: cover;
    margin-top: -200px;
  
}

#second-banner {
    background-image: url('../Assets/banner22.png');
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    
}



#second-banner h1 {
    font-weight: 400;
    font-size:75px;
    color: white;
    margin: 5px 0;
    font-family: 'Staatliches', cursive;
    z-index: 5;
}

#second-banner h2{
    font-weight: 400;
    font-size:55px;
    color: white;
    margin: 2px 0;
    font-family: 'Staatliches', cursive;
    z-index: 5;
}


#second-banner a {
    border: 2px solid white;
    line-height: 30px;
   display:flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   font-size: 20px;
    width: 180px;
    text-decoration: none;
    color: #08b6b6;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(125,34,255,0);
    text-align: center;
    position: relative;
    z-index: 5;
    font-family: 'Staatliches', cursive;
    margin-top: 50px;
}

#second-banner a:hover {
    background-color: #064f4f;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}

/* grow with , part for new services design */
.growYour{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-top: -90px;
    padding-bottom: 170px;
}
.growLeft, .growRight{
    width: 640px;
    box-sizing: border-box;   
}
.growImage{
    width: 100%;
    height: 100%;
}
.blanky {
    width: 640px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    line-height: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: none;
    box-sizing: border-box;
}
.blanky h1{
    color:  #064f4f;
    font-size: 50px;
}
.blanky h3{
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    font-weight: 500;
}
.blanky1{
    width: 640px;
    height: 320px;
    box-sizing: border-box;
    padding: 45px;
}
.blanky1 img{
    width: 100%;
}
.growLeft{
    position: inherit;
}

.growSmallLeft , .growSmallRight{
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    
}
.growOne, .growTwo{
    width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-top: 0;
    background-color: #F4F4F4;
    text-align:left;
}
.growTwo img {
    margin: 0;
}
.growOne h3{
    font-size: 16px;
    padding-left: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.growOne h1{
    padding-left: 30px;
    font-family: 'Montserrat', sans-serif;
}

.growColor {
   width: 320px;
   height: 320px;
   background-color: #064f4f;
   opacity: .2;
   position: absolute;
}

/* flex container */
#flex-container {
    position: relative;
    align-items: center;
    background-color: #08b6b6;
    padding-bottom: 100px;
    background-image:url(../Assets/GearBackgroundc.png);
}

#flex-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/**flex flip*/
#flex-container h2 {
    font-size: 38px;
    padding-left: 30px;
    padding-top: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.carde {
    padding-bottom: 30px;
    text-align: center;
    width: 250px;
    height: 420px;
    box-sizing: border-box;
    background-color: white;
    margin:10px;
    position: relative;
    filter:drop-shadow(8px 8px 10px rgb(40, 65, 40));
    border-radius: 12px;
}
.carde:hover {
    transform: scale(1.07);
    transition: 1s;
}
.st0
{	position : absolute ;
    top : 0;
    right: 0;
    left: 0;
	width : 250px;
}
.images {
    width: 100%;
}
.one {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    font-size: 25px;
    top: 180px;
    color: #08b6b6;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif 300;
}

.two {
    font-size: 18px;
    position: absolute;
    top: 270px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif;
}

/*testimonies*/

/* testimonies new carousel*/

.coments{
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
}
input[type=radio] {
    display: none;
  }
  
  .card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
  }
  
  .containerA {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    object-fit: cover;
  }
  
  #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-65%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(65%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  }
    #item-1 img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
  
  

#item-2:checked ~ .player #test {
    transform: translateY(0);
  }
  
  #item-2:checked ~ .player #test  {
    transform: translateY(-40px);
  }
  
  #item-3:checked ~ .player #test  {
    transform: translateY(-80px);
  }

/*books*/

#books h2 {
    margin: 20px;
    margin-left: 70px;
    font-family: 'Staatliches', cursive;
    font-size: 38px;
    text-align: center;
    color: #004F4F;
}
.discount {
    text-align: center;
    padding-bottom: 30px;
}
#three-books {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-flow: wrap column;
}

#buy{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid #969c07;
    height: 35px;
    line-height: 29px;
    width: 120px;
    cursor: pointer;
    background-color: #969c07;
    border-radius: 15px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(125,34,255,0);
}
#buy a{
    
    text-decoration: none;
    color: white;
    font-weight: bold;  
    
}
#buy:hover{
    background-color: #d4d857;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}

#third-two-block {
    display: flex;
    height: 550px;
}

#fourth-banner {
   background-color: white;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    background-image: url(../Assets/design2.png);
    background-size: contain;
    background-repeat: no-repeat;
   background-position: bottom;

}
#iframe {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}



#main-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 10px;
    background-color: #333333;
    color: white;
}
#address p {
    margin: 0;
    -webkit-user-select: all;  /* Chrome all / Safari all */
    -moz-user-select: all;     /* Firefox all */
    -ms-user-select: all;      /* IE 10+ */
    user-select: all;          /* Likely future */  
}

#contact{
    text-align: center;
    border: 2px solid white;
    height: 35px;
    line-height: 29px;
    width: 120px;
    cursor: pointer;
    background-color: #064f4f;
    border-radius: 15px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(125,34,255,0);
}
#contact a{
    
    text-decoration: none;
    color: white;
    font-weight: bold;  
    
}
#contact:hover{
    background-color: #a7dcd4;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}
.big-letters {
    font-size: 35px;
}

.phoneN a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.phoneN a:hover {
    opacity: 0.7;
    color: red;
}
.googleForms{
    width: 100%;
    height: 880px;
    background-color:#a7dcd4;
    box-sizing: border-box;
    padding: 30px;background-image: url(../Assets/design22.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* About page CSS */

#about-banner {
    background-image: url('../Assets/brickWall.png');
    background-color: antiquewhite;
    height: 650px;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.arrowDown{
    z-index: 3;
    position: absolute;
    bottom: 80px;
    width: 60px;
}
.color11 {
    width: 100%;
    height: 100%;
    background-color: #064f4f;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: .6;
    z-index: 0;
}

#about-banner h3 {
    font-weight: 400;
    font-size: 110px;
    color: white;
    margin: 20px 0;
    font-family: 'Staatliches', cursive;
    z-index: 5;
}



#partners {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 30px;
}
#partners h2{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    text-align: center;

}
#partners h1{
    color: #004F4F;
    text-align: center;
    font-size: 48px;
}

/* about jim */
.twoPigs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin-top: 30px;
}
.leftPig, .rightPig {
    width: 320px;
    font-family: 'Montserrat', sans-serif;
}
.rightPig{
    width: 740px;
    padding: 2em;
    background-color: #064f4f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    box-sizing: border-box;
}
.leftPig img {
    width: 100%;
    max-width: 720px;
    
}

.threePigs{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 30px;
    background-image: url(../Assets/twoSides.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.threePigs h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    text-align: center;
    color: #064f4f;
}
.pig1{
    max-width: 440px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
   padding: 30px;
    
}
.pig1 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.pig2 {
    max-width: 640px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

/*Carousel Gallery*/
.swiper-container {
    width: 500px;
    height: 300px;
    position: relative;
    padding-bottom: 200px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 1px;
    background: #fff;
    /* Center slide text vertically */ 
    display: flex; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 320px;
  }

  .swiper-slide img {
    display: block;
    width: 150px;
    object-fit: cover;
  }





/*# Carousel Gallery*/

  
  .video-container {
   
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    position: relative;
    z-index: 0;
  }
  .video-container h2{
      color: #064f4f;;
      font-family: 'Montserrat', sans-serif;
      font-size: 38px;
      margin-left: 38px;
      
  }
  .inside-part{
      width: 100%;
      height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .left-float, .right-float {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 40%;
    height: 100%;
    color: black;
    padding: 25px;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }
  .right-float p, .left-float p{
    border: solid 2px black;
    box-sizing: border-box;
    padding: 25px;
    height: 300px;
  }
  
  .left-float img, .right-float img {
      margin-top: -100px;
    filter: drop-shadow(3px 3px 10px rgb(243, 243, 243));
  }
/* Services */

#services-banner {
    background-image: url('../Assets/chalkBoard.png');
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
#services-banner h3{
    font-weight: 400;
    font-size: 50px;
    color: white;
    font-family: 'Staatliches', cursive;
    z-index: 5;
    text-align: center;
    line-height: 10px;
}
#services-banner h1{
    font-weight: 400;
    font-size: 70px;
    line-height: 10px;
    color: white;
    font-family: 'Staatliches', cursive;
    z-index: 5;
    text-align: center;
}
.color12{
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #064f4f;
    opacity: 0.4;
    z-index: 1;
}
.certifications{
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #064f4f;
}
.certifications span {
    font-size: 70px;
}
/*services contanier
/* trying new flex containe */
.justContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 .card1 {
     width:250px;
     height: 400px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     margin: 10px;
 }
 .certificate {
    height: 42px;
 }
 .header1{
     text-align: center;
     width: 250px;
     font-family: 'Montserrat', sans-serif;
     font-size: 12px;
 }
 .content1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
 }
 .learnMore {
     width: 170px;
     box-sizing: border-box;
     background-color: #064f4f;
     padding: 7px;
     color: white;
     font-size: 14px;
     text-decoration: none;
     border-radius: 5px;
 }
 .learnMore:hover {
     border: 2px solid #004F4F;
     background-color: #F4F4F4;
     color:#004F4F;
     
 }
  /* books */ 
#main-body {
    padding-bottom: 50px;
}

  #books-banner {
    background-image: url('../Assets/jaredd.png');
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
#books-banner h3 {
    font-weight: 400;
    font-size: 110px;
    color: white;
    margin: 20px 0;
    font-family: 'Staatliches', cursive;
    z-index: 5;
}
#books-two-block{
    margin-top: 100px;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    left:auto;
    right: auto;
    padding-top: 30px;
}

.blocks-top{
    width: 50%;
    box-sizing: border-box;
    height: 200px;
    background-color: #064f4f;
    display: flex;
    justify-content: flex-end;
}

.stripe {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 25px;
    color: white;
    height: 200px;
    background-color: #064f4f;
    
    font-size: 20px;
    line-height: 10px;
}
.justCenter{
    width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.blocks-top img {
    height: 420px;
    margin-top: -90px;
}

.blocks-left {
    background-image:url(../Assets/design24.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-left: 45px;
    padding-right: 45px;
    color: #064f4f;
    padding: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    width:  100%;
    display: flex;
    align-items: flex-start;
    flex-flow: wrap row;
   
}
.realLeft, .realRight {
    width: 50%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: flex-start;
    margin-top: 0;
}
.blocks-right img {
    width: 250px;
}

#buy-book{
    width: 110px;
    text-align: center;
    cursor: pointer;
    border: 2px solid ;
    background-color: white;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(125,34,255,0);
}
#buy-book a{
    text-decoration: none;
    font-weight: bold;  
    height: 35px;
    line-height: 29px;
    width: 120px;
    color:#064f4f;
    
}
#buy-book:hover{
    background-color: #064f4f;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}
#three-authors {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content:space-around;
    text-align: center;
    font-size: 18px;
    margin-top: 90px;
    box-sizing: border-box;
}
#three-authors img{
width: 160px;
border-radius: 50%;
background-size: contain;
background-position: center;
}
.headerThree {
    width: 100%;
    text-align: center;
   
}
/* contuct us*/
#contact-banner {
    background-image: url('../Assets/contactMountain.png');
    width: 100%;
    height: 800px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    top: 0;
}


#contact-banner h3 {
    font-weight: 400;
    font-size: 110px;
    color: white;
    margin: 20px 0;
    font-family: 'Staatliches', cursive;
    font-size: 110px;
    z-index: 5;
}

.contact-buttons {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contact-buttons div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 315px;
    height: 60px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50px;
}

.contact-buttons a {
    width: 100%;
    height: auto;
    color: #064f4f;
    display: flex;
    align-self: center;
    justify-content:center;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.contact-buttons i {
    padding-left: 15px;
}