
.media-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-wrapper{
    width: 310px;
    box-sizing: border-box;
    background-color: rgb(221, 221, 221);
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myBook{
    width: 280px;
    padding: 20px;
}
.over {
    text-decoration: line-through;
    color: orange;
    font-family: 'Montserrat', sans-serif;
    line-height: 7px;
    text-align: center;
}
.Matt {
    margin-top:0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.discount {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

