/**
 * App component
 */
#app{
    width: 100%;
    height: 100%;
    display: flex;
}
 .app {
    --thickness: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 8vmin);
    height: calc(100vh - 8vmin);
    padding-bottom: 70px;
    overflow: hidden;
    perspective: 1500px;
}
.media-container{
    width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.app[data-current-media="book"] .book-wrapper {
    display: block;
}







/**
 * Wrapper component
 */

.book-wrapper {
    display: none;
    box-sizing: border-box;
    padding: 25px;
}
.book-wrapper:hover{
    background-color: #004F4F;
    color: white;
}


/**
 * Book component
 */

.book {
    position: relative;
    z-index: 1;
    width: 270px;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    transform: rotateX(0deg) rotateY(-30deg);
}

.book__front {
    border-radius: 5px;
    overflow: hidden;
    transform: translateZ(calc(var(--thickness)));
}

.book__front img{
    width: 270px;
    border: 5px solid #356143;
}

.book__back {
    width: 270px;
    height: 99%;
    position: absolute;
    top: 0;
    background: #356143;
    border-radius: 5px;
    overflow: hidden;
    transform: translateZ(calc(-1.1 * var(--thickness)));
}

.book__paper {
    height: 96%;
    width: calc(var(--thickness) * 2);
    background: white;
    position: absolute;
    top: 2%;
    right: 0;
    background:
        linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(255, 255, 257, 0)),
        repeating-linear-gradient(90deg, white, #e2e2e2 1px, white 3px, #9a9a9a 1px);
    transform: rotateY(90deg) translateX(calc(var(--thickness) / 7)) translateZ(calc(var(--thickness) / 1.2));
}


.over {
    text-decoration: line-through;
    color: orange;
    font-family: 'Montserrat', sans-serif;
    line-height: 7px;
}
.Matt {
    margin-top:0;
    font-family: 'Montserrat', sans-serif;
}
.discount {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

